#export VIRTUAL_ENV=."venv"
#layout python python3.12
export DATA_PATH=~/git/DailyTxT/backend/data
export SECRET_TOKEN=secret
export ALLOWED_HOSTS='["http://localhost:5173","http://127.0.0.1:5173","http://lab:5173"]'
export INDENT=4
export DEVELOPMENT=true
